.background {
    color-scheme: dark;

}

body {
    background :white;
    color : black;
    font-family: cursive;
}


.tabs{
    background :transparent;
    flex-direction: column;


}
.tabs button {
    background :transparent;
    border: black solid 3px;
    border-radius : 3px;
}


.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 0.6rem 0.2rem


}
.field input{
    border: black solid 3px;
    border-radius: 5px;
    width: 14rem;
}
.field select {
    border: black solid 3px;
    border-radius: 5px;
    width: 15rem;
}

.ConvertButton {
    margin: 0 0 1rem 0.2rem ;
    background-color: transparent;
    border: black solid 3px;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
}


.UnitConverterBox{
    border: black solid 2px;
    border-radius: 5px;
    width: 16rem;
    height: 23rem;
    display: flex;
    align-items: center;


    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.ConvertButtonAndResult{
    display: flex;
    flex-direction: row;
}